<div class="row">
  <div class="col-9 main_col">

    <div class="col-sm-8">
      <h3 class="name">Сайт вчителя інформатики <br> Закалюжної Галини Михайлівної</h3>
    </div>

    <h5>Новини</h5>

    <div>
      <div class="row">
        <div class="col-sm-4">
          <img src="/13670218_aa2fb27d.jpg">
        </div>
        <div class="col-sm-8">
          <h3>
            Конкурс "Успішний педагог"
          </h3>

          <p>
            Щороку у Львові проходить конкурс "Успішний педагог". Переможців нагороджено сертифікатами від Львівської міської ради та грошовою винагородою 25 тисяч гривень кожному.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div>
      Класи
    </div>

    <div>

    </div>
  </div>
</div>
