<div class="container">

<% @achievements.each do |achievement| %>
  <div class="row">
    <div class="col-sm-8">
      <%= image_tag @achievement.image %>
    </div>
    <div class="col-sm-4">
      <h3 class="row"><%= achievement.title %></h3>
      <br>
      <h6 class="row"><em><%= achievement.created_at %></em></h6>
      <h6 class="row">
        <em><%= link_to 'Детальніше', achievement_path(achievement) %></em>
      </h6>
    </div>
  </div>
  <hr>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <img src="13670218_aa2fb27d.jpg">
  </div>
  <div class="col-sm-4">
    <h3>
      Конкурс "Успішний педагог"
    </h3>

    <p>
      Щороку у Львові проходить конкурс "Успішний педагог".  Переможців нагороджено сертифікатами від Львівської міської ради та грошовою винагородою 25 тисяч гривень кожному.
    </p>
  </div>
</div>
</div>
