<h1>
  <%= @achievement.title%>
</h1>

<%= image_tag @achievement.image %>

<p>
  <%= @achievement.description %>
</p>

<h6>
  <em><%= link_to 'Повернутися до всіх досягнень', achievements_path %></em>
</h6>
